astroid
backcall
cycler
decorator
ipython
ipython-genutils
isort
jedi
kiwisolver
lazy-object-proxy
matplotlib
mccabe
numpy
parso
pexpect
pickleshare
progress
prompt-toolkit
ptyprocess
Pygments
pylint
pyparsing
python-dateutil
pytz
scipy
simplegeneric
six
traitlets
typed-ast
wcwidth
wrapt
cairocffi
